$jose: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;

.hero{
    max-width: 1920px;
    width: 100%;
    background-image: url(/img/bg1.png);
    background-size: cover;
    height: 820px;
    position: relative;
    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title{
            color: white;
            font-family: $jose;
            font-weight: 400;
            text-align: center;
            h3{
                letter-spacing: 1px;
                font-size: 48px;
                margin: 5px 0;
            }
            span{
                font-size: 20px;
                letter-spacing: 6px;
                font-weight: 300;
                text-align: center;
            }
        }
        &__search{
            max-width: 660px;
            width: 100%;
            text-align: center;
            height: 60px;
            margin-top: 50px;
            form{
                height: 60px;
                display: flex;
                margin: 0 5px;
                input {
                    border: none;
                    padding: 0 0;
                    width: 100%;
                    height: 60px;
                    max-width: 500px;
                    box-sizing: border-box;
                    outline: none;
                    text-align: center;
                }
                input::placeholder{
                    font-family: $jose;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 2px;
                }
                button{
                    position: relative;
                    cursor: pointer;
                    outline: none;
                    padding: 0 0;
                    box-sizing: border-box;
                    max-width: 150px;
                    width: 100%;
                    height: 60px;
                    background-color: #5474FD;
                    border: 3px solid white;
                    font-family: $aleo;
                    font-weight: 400;
                    color: white;
                    font-size: 14px;
                    padding-right:30px;

                    img{
                        position: absolute;
                        right: 15px;
                        top:17px;
                    }

                }
            }
        }
        &__scroll{
            font-family: $jose;
            position: relative;
            top: 120px;
            a {
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 2px;
                color: white;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    padding-top: 10px;
                    width: 16px;
                }    
            }
        }
        &__menu {
            position: sticky;
            top: 800px;
            color: white;
            background-color: #5474FD;
            height: 80px;
            max-width: 1920px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .menu__logo{
                font-family: $jose;
                font-size: 24px;
                font-weight: 400;
            }
            .menu__nav{
                list-style: none;
                display: flex;
                justify-content: space-between;
                max-width: 500px;
                width: 100%;
                &__item{
                    font-family: $aleo;
                    font-size: 14px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .hero{
        max-width: 500px;
        width: 100%;
        height: 520px;
        &__body {
            &__title{
                h3{
                    font-size: 38px;
                    margin: 5px 0;
                }
                span{
                    font-size: 16px;
                }
            }
            &__search{
               
                form{
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    button{
                        margin-top: 20px;
                        
                        img{
                            position: absolute;
                            right: 15px;
                            top:17px;
                        }
    
                    }
                }
            }
            &__scroll{
                display: none;
            }
            &__menu{
                display: none;
            }
        }
    }
}