$jose: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;

.right{
    background-image: url(/img/bg5.png);
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    height: auto;
    &__body{
        padding: 230px 320px 100px 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        &__block{
            max-width: 540px;
            width: 100%;
            height: 370px;
            background-color: #232323;
            opacity: 0.9;
            color: white;
            padding: 50px 30px;
            font-family: $jose;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .block__subtitle{
                font-size: 20px;
                color: #E8E8E8;
                font-weight: 300;
            }
            .block__title{
                font-weight: 400;
                font-size: 24px;
                
            }
            .block__text {
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 2px;
                line-height: 25px;
            }
            .block__btn {
                background-color: #5474FD;
                background-image: url(/img/btn.png);
                background-position: left;
                background-repeat: no-repeat;
                max-width: 230px;
                width: 100%;
                height: 60px;
                a{
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    font-family: $aleo;
                    font-size: 18px;
                    padding: 20px;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1272px){
    .right{
       
        &__body{
            padding: 230px 0 100px 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            &__block{
                max-width: 540px;
                width: 100%;
                height: 370px;
                background-color: #232323;
                opacity: 0.9;
                color: white;
                padding: 50px 30px;
                font-family: $jose;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
        }
    }
}

@media screen and (max-width: 992px){
    .right{
        &__body{
            padding: 100px 0 50px 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            &__block{
                text-align: center;
                max-width: 540px;
                width: 100%;
                height: 370px;
                background-color: #232323;
                opacity: 0.9;
                color: white;
                padding: 50px 30px;
                font-family: $jose;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
        }
    }
}