$jose: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;

.why-us{
    max-width: 1920px;
    height: auto;
    padding: 120px 0;
    background-image: url(/img/bg2.png);
    background-size: cover;
    &__body{
        display: flex;
        justify-content: center;
        &__left{
            margin-left: 10px;
            margin-right: 50px;
            padding: 50px 0;
            max-width: 530px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            color: white;
            .left__title{
                font-family: $aleo;
                font-size: 36px;
                font-weight: 400;
            }
            .left__text{
                font-family: $jose;
                font-size: 16px;
                font-weight: 300;
                max-width: 530px;
                letter-spacing: 1px;
            }
            .left__btn{
                background-color: #5474FD;
                background-image: url(/img/btn.png);
                background-repeat: no-repeat;
                background-position: left;
                max-width: 230px;
                width: 100%;
                height: 60px;
                a{
                    display: block;
                    text-align: center;
                    padding: 21px;
                    text-decoration: none;
                    color: white;
                    font-family: $aleo;
                    font-size: 16px;
                }
            }
        }
        &__right{
            margin-left: 50px;
            max-width: 490px;
            width: 100%;
            position: relative;
            .right__img-bot{
                position: relative;
                left: 125px;
            }
        }
    }
}

@media screen and (max-width: 992px){
    .why-us{
        max-width: 992px;
        padding: 100px 0;
        &__body{
            &__left{
                margin-left: 10px;
                margin-right: 50px;
                padding: 50px 0;
                max-width: 530px;
                min-width: 410px;
            }
            &__right{
                margin-left: 50px;
                max-width: 350px;
                width: 100%;
                position: relative;
                img {
                    max-width: 350px;
                    width: 100%;
                }
                .right__img-bot{
                    position: static;

                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .why-us{
        max-width: 992px;
        padding: 70px 0;
        &__body{
            &__left{
                align-items: center;
                width: 100%;
                margin-left:10px;
                margin-right: 10px;
                padding: 50px 0;
                max-width: 530px;
                min-width:220px;
                text-align: center;
            }
            &__right{
                display: none;
                margin-left: 50px;
                max-width: 350px;
                width: 100%;
                position: relative;
                img {
                    max-width: 350px;
                    width: 100%;
                }
                .right__img-bot{
                    position: static;

                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .why-us{
        max-width: 992px;
        padding: 70px 0;
        &__body{
            &__left{
                align-items: center;
                width: 100%;
                margin-left:10px;
                margin-right: 10px;
                padding: 50px 0;
                max-width: 530px;
                min-width:220px;
                text-align: center;
            }
            &__right{
                display: none;
                margin-left: 50px;
                max-width: 350px;
                width: 100%;
                position: relative;
                img {
                    max-width: 350px;
                    width: 100%;
                }
                .right__img-bot{
                    position: static;

                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .why-us{
        max-width: 992px;
        padding: 0px 0;
        &__body{
            &__left{
                align-items: center;
                width: 100%;
                margin-left:10px;
                margin-right: 10px;
                padding: 50px 0;
                max-width: 530px;
                min-width:220px;
                text-align: center;
                .left__title{
                    font-size: 26px;
                }
                .left__text{
                    font-size: 14px;
                }
                .left__btn{
                    max-width: 180px;
                    width: 100%;
                    height: 60px;
                }
            }
            &__right{
                display: none;
                margin-left: 50px;
                max-width: 350px;
                width: 100%;
                position: relative;
                img {
                    max-width: 350px;
                    width: 100%;
                }
                .right__img-bot{
                    position: static;

                }
            }
        }
    }
}